{% extends "base.html" %}
{% load static %}
{% block pre_end_head %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock pre_end_head %}
{% block content %}
<p>
    Categorie :
    <select data-bind="options: availableCategories, optionsText: 'name', value: selectedCategory"></select>
</p>


<table>
    <thead><tr>
        <th>Joueurs</th><th></th>
    </tr></thead>
    <tbody data-bind="foreach: selectedPlayers">
        <tr>
            <td><input type="text" data-bind="autoComplete: { selected: $root.selectedPlayerOption, options: $root.playerOptions }" /></td>
            <td><a href="#" data-bind="click: $root.removePlayer"> X </a></td>
            <td><a href="#" data-bind="click: $root.addPlayer"> + </a></td>
        </tr>
    </tbody>
</table>


<div data-bind="visible: playerCreation() == true">
    <table>
        <thead><tr>
            <th>Prénom</th><th>Nom</th><th>Sexe</th>
        </tr></thead>
        <tbody>
            <tr>
                <td><input data-bind="value: playerCreationFisrtName" /></td>
                <td><input data-bind="value: playerCreationLastName" /></td>
                <td><select data-bind="options: availableSex, value: playerCreationSex, optionsText: 'printName'"></select></td>
                <td><a href="#" data-bind="click: commitPlayer">X</a></td>
            </tr>
        </tbody>
    </table>
    <button data-bind="click: commitPlayer">Valider</button>

</div>
<button data-bind="click: createPlayer">Créer un joueur</button>


<button data-bind="click: createGame">C'est partie !</button>

{% endblock content %}

