{% extends "base.html" %}
{% load static %}
{% block pre_end_head %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock pre_end_head %}
{% block content %}
<div class="row">
    <p>
        Categorie :
        <select data-bind="options: availableCategories, optionsText: 'name', value: selectedCategory"></select>
    </p>

    <div>
        <table>
            <thead><tr>
                <th>Joueurs</th><th></th>
            </tr></thead>
            <tbody data-bind="foreach: players">
                <tr>
                    <td><input type="text" data-bind="value: first_name" /></td>
                    <td><a href="#" data-bind="click: $root.addPlayer" class="glyphicon glyphicon-plus"></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="game.html" data-bind="click: createGame">I WANNA GET DRUNK !</a>

</div>
{% endblock content %}

